h1 {
  font-size: 50px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
.orange-word {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 3%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 400px;
  margin-bottom: 100px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
p {
  color: dimgray;
}
.dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.box-style {
  box-shadow: 10px 10px 35px gray;
  border-radius: 10px;
  height: 80%;
  background-color: white;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(45deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer {
  text-align: center;
  font-size: 20px;
}
